<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta charset="UTF-8">
    <title>2001 Game</title>
</head>
<body>
<h1>Welcome to 2001 game!</h1>
    <p>Rules are simple. Both opponents have to throw two selected dices.</p>
    <p>Each throw is added to Score.</p>
    <p>First who collect 2001 points win</p>
    <p>If player hits 7, actuall score is diveded by 7.</p>
    <p>If player hits 11, score is multiple by 11. Good luck!</p><br>
<form action="" method="post">
    <button type="submit">START</button>
</form>
</body>
</html>