<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta charset="UTF-8">
    <title>Guess The number</title>
</head>
<body>
    <h1><b>Guess The Number</b></h1>
    <p>Welcom to Guess The Number game. Computer will try to guess the number you're imagine.
    Your task is to click "too small", "too big" or "you win!" button. Let's start!.</p><br>
    <h2>Imagine number between 0 and 1000</h2>
    <form action="" method="POST">
        <input type="hidden" name="min" value="{{min}}">
        <input type="hidden" name="max" value="{{max}}">
        <button type="submit" name="submit">OK</button>
    </form>
</body>
</html>